{% extends "shoe_tab/base.html" %}
{% block content %}

<nav class="w3-sidebar w3-bar-block w3-card w3-top w3-xlarge w3-animate-left" style="display:none;z-index:2;width:40%;min-width:300px" id="mySidebar">
    <a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button">Close Menu</a>
    <a href= "{% url 'shoe_tab:index' %}" class = "w3-bar-item w3-button">Home Page</a>
    <a href= "{% url 'shoe_tab:nike' %}" class = "w3-bar-item w3-button">Nike</a>
    <a href= "{% url 'shoe_tab:adidas' %}" class = "w3-bar-item w3-button">Adidas</a>
</nav>

<h5 class = 'TitleHeader'>Air Jordan</h5>
<hr>

<div id = "tab" class = "w3-top">
    <div class="w3-white w3-xlarge" id = "elipses"></div>
    <div id = "elipsesVert" class="w3-button w3-padding-16 w3-left" onclick="w3_open()"><i class="fa fa-bars" style="font-size:36px;"></i></div>   
</div>

{% if hyped %}
    <h5 style = "text-align: center;">Hyped Releases</h5>
    <div class = "container">
        {% for key in hyped %}
            <div class = "card">
                <div title="Add to Calendar" class="addeventatc">
                    Add to Calendar
                    <span class="start">{{ key.release_month }}/{{ key.release_day }}/{{ key.release_year }}</span>
                    <span class="end">{{ key.release_month }}/{{ key.release_day }}/{{ key.release_year }}</span>
                    <span class="timezone">America/Los_Angeles</span>
                    <span class="alarm_reminder">15</span>
                    <span class="title">Summary of the event</span>
                    <span class="description">Description of the event</span>
                    <span class="location">Location of the event</span>
                </div>
                <h5>{{ key.shoe_name }}</h5>
                {% if key.image != "https://images.solecollector.com/complex/image/upload/v1557176412/SC_Logo_Globe_TM_Blue_20190506-01-01-01_urcggx.svg" %}
                    <img src = {{ key.image }}>
                {% else %}
                    <img src = "https://www.reaganfoundation.org/umbraco/ucommerce/images/ui/image_not_found.jpg">
                {% endif %}
                <h5>Price: {{ key.price }}</h5>
                <h5>Release Date: {{ key.release_month }}/{{ key.release_day }}/{{ key.release_year }}</h5>
                
            </div>
        {% endfor %}
    </div>
{% endif %}


<h5 style = "text-align: center;">Upcoming Releases</h5>
<div class = "container">
    {% for key in releases %}
        <div class = "card">
            <div title="Add to Calendar" class="addeventatc">
                Add to Calendar
                <span class="start">{{ key.release_month }}/{{ key.release_day }}/{{ key.release_year }}</span>
                <span class="end">{{ key.release_month }}/{{ key.release_day }}/{{ key.release_year }}</span>
                <span class="timezone">America/Los_Angeles</span>
                <span class="alarm_reminder">15</span>
                <span class="title">Summary of the event</span>
                <span class="description">Description of the event</span>
                <span class="location">Location of the event</span>
            </div>
            <h5>{{ key.shoe_name }}</h5>
            {% if key.image != "https://images.solecollector.com/complex/image/upload/v1557176412/SC_Logo_Globe_TM_Blue_20190506-01-01-01_urcggx.svg" %}
                <img src = {{ key.image }}>
            {% else %}
                <img src = "https://www.reaganfoundation.org/umbraco/ucommerce/images/ui/image_not_found.jpg">
            {% endif %}
            <h5>Price: {{ key.price }}</h5>
            <h5>Release Date: {{ key.release_month }}/{{ key.release_day }}/{{ key.release_year }}</h5>
        </div>
    {% endfor %}
</div>

{% endblock content %}